.selectWallet{
    background-color: #fff;
    margin-bottom: 1.5rem;
    width:14rem;
}

.selectWallet__title{
    color:#353544;
    font-size: 0.8rem;
}

.itemAside__percentage{
    font-size: 1rem;
    color:#353544;
    margin: 0px 0.75rem 0px 0.75rem ;
}

.itemAside__name{
    font-size: 1rem;
    color:#353544;
}
