.select-wallet{
    margin-top: 1rem;
    margin-left: 0.5rem;
}
.select-wallet__title{
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
}

.select-wallet__icon{
    width: 1rem;
    height: auto;
}

.select-wallet__text{
    padding-left: 0.3rem;
    color: #1e2631;
    font-size: 1rem;
    }

.select-wallet__list{
    list-style-type: none;
}
