.aside-menu-wallet{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.aside-menu-wallet__container{
    margin-bottom: 1rem;
}

.aside-menu-wallet__title{
    margin-left: 0.3rem;
    color: #1e2631;
    font-size: 1.2rem;
    font-weight: 700;
}
