.containerAsidePanel{
    position: fixed;
    left: 1rem;
    top: 4rem;
    width: 15.875rem;
    height: 27rem;
    background-color:#fff;
    box-shadow: 0px 0px 0.625rem #328bc360;
    border-radius:0.25rem;
}   
