.main-wallet{
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: auto;
    margin-top: 0rem;
    padding-top: 1.8rem;
    padding-left: 5%;
    padding-right: 5%;
    background-color:  #F8F8F8;
}

.main-wallet::-webkit-scrollbar {
    width: 0.8rem;
}

.main-wallet::-webkit-scrollbar-thumb {
    background: #c5c5c5;
}

.main-wallet__title{
    display: flex;
    height: 3rem;
    justify-content: center;
    align-items: center;
}

.main-wallet__name{
    color: #0a3c5d;
    font-size: 1.8rem;
    font-weight: 800;
}

.main-wallet__percentage{
    color: #328bc3;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 1rem;
    margin-top: 0.2rem;
}

.main-wallet__container{
    position: relative;
    width: 100%;
    height: 40rem;
}


