.logo {
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo__img-wallet{
  height: 2rem;
  margin-right: 0.2rem;
}
.logo__img-text{
  height: 1.3rem;
}
.logo__img4u{
  margin-left: 0.1rem;
  height: 1.3rem;
}