.containerAsidePanel{
    position: fixed;
    left: 16px;
    top: 64px;
    width: 254px;
    height: 430px;
    background-color:#fff;
    box-shadow: 0px 0px 10px #328bc360;
    padding:1rem;
    border-radius:0.25rem;
}   
