.aside-menu-item{
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    margin-left: 0rem;    
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 1.2rem;
    list-style-type: none;
    color: #1e2631;
 }

.aside-menu-item__select{
    padding-left: 1.1rem;
    border-left: 3px solid #0a3c5d;
    background-color: #f8f8f8;
    color: #0a3c5d;
}

.aside-menu-item__percentage,
.aside-menu-item__name
{
    display:inline;
    margin-bottom: 0.3rem;
    margin-left: 0rem;
    padding-left: 0.6rem;
    font-size: 0.9rem;
    font-weight: 600;
}
