.table-wallets-customize{
    width: 100%;
    position: relative;
    height: 60rem;
    padding:0.5rem 5% 0.5rem 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 1.2rem;
    background-color: #fcfcfc;
    // box-shadow: rgb(0 0 0) 0px -1px 10px -7px;
}

.table-wallets-customize__title{
    color: #2b86bd;
    font-size: 1.8rem;
    font-weight: 700;
}

.table-wallets-customize__header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    align-items: center;
}

.table-wallets-customize__columns{
    width: 100%;
    height: 3rem;
    padding: 1rem 8rem 1rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid black;
}

.table-wallets-customize__cell{
    width:10rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}

.table-wallets-customize__footer{
    width: 100%;
    margin-top: 1rem;
    padding-right: 11rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.table-wallets-customize__total{
    font-size: 1.3rem;
    font-weight: 700;
    margin-right: 3rem;
    margin-left: 1rem;
}
.table-wallets-customize__value-total{
    font-size: 1.6rem;
    font-weight: 700;
}

.table-wallets-customize__text-alert{
    font-size: 1rem;
    font-size: 1rem;
    font-weight: 700;
    color:#c70e50;
    margin: 0.3rem 1.3rem;
}