.itemAside{
    display:flex;
    flex-flow: row nowrap;
    margin-top:0.75rem;
    height: 2rem;
    width:13.875rem;
    align-items: center;
    box-shadow: 0px 0px 1px #328BC3;
    color: #353544;
    list-style-type: none;
 }

.itemAside__select{
    background: #FFFFFF;
    border: 1px solid #328BC3;
    box-shadow: 0px 0px 4px #328BC3;
}