.table-row-for-view{
    width: 100%;
    height: 3rem;
    padding: 1rem 0.5rem 1rem 0rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 0.1rem solid black;
}

.table-row-for-view--color{
    background-color: #feffea;
}

.table-row-for-view__text{
    width: 20%;
    margin: 0rem 0.5rem;
}

.table-row-for-view__button{
    width: 5rem;
    margin: 0rem 0.5rem;
}
