.containerNavBarItem{
    padding: 0.75rem;
    list-style-type: none;
    border-left:1px solid #328bc3;
    display: flex;
    justify-content: center;
    align-content: center;
}

.containerNavBarItem__name{
    font-size: 1rem;
    font-weight: 600;
    color: #328bc3;
}

.containerNavBarItem__select{
    border-bottom: 2px solid #25668F;
    color: #25668F;
}

.containerNavBarItem__fist{
    border-left:none;
}

.containerNavBarItem__icon{
    height: 1.4rem;
    margin-right: 0.5rem;
}