.containerNavBarItem{
    padding: 0.75rem;
    list-style-type: none;
    text-align: center;
    box-shadow: 0px 0px 0.2rem #328bc360;
    background-color: #F4FBFF;
}

.containerNavBarItem__name{
    font-size: 1rem;
    color: #353544;
}

.containerNavBarItem__select{
    background-color: #ffffff;
}
