.investmentCard{
    width: 90%;
    border-radius: 0.8rem;
    margin-bottom: 0.8rem;
    background-color: #fcfcfc;
    box-shadow: black 1px 1px 10px -8px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}