.investmentCard{
    width: 62rem;
    background-color: #F4FBFF;
    box-shadow: 0px 0px 5px #328bc360;
    border-radius: 10px 10px 0px 0px;
    margin: 0.75rem 0px 0.75rem  0px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}