.investmentTable{
    width: 95%;
    font-size: 0.8rem;
    box-shadow: 0px 0px 5px #328BC320;
    display: flex;
    justify-content: center;
    background-color: #fcfcfc;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}
