.editable-table-row{
    background-color: #def7e3;
    width: 100%;
    min-height: 3rem;
    padding: 0.5rem 1rem 0.5rem 0rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 0.1rem solid black;
}

.editable-table-row__text{
    width: 20%;
    margin: 0rem 0.5rem;
}

.editable-table-row__loading{
    margin:0.5rem;
    width: 3rem;
}

.editable-table-row__button{
    width: 5rem;
    margin: 0rem 0.5rem;
}