.container-main-page{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 1rem;
    margin-left: 0.2rem;
    padding-top: 3.5rem;
    padding-right: 0px;
    flex-direction: row;
    justify-content: center;
    align-self: auto;
    order: 1;
    flex: 0 1 auto;
    object-fit: fill;
}

.container-main-page::-webkit-scrollbar {
    width: 0.8rem;
}

.container-main-page::-webkit-scrollbar-thumb {
    background: #c5c5c5;
}

