.mainButton {
  width: 14rem;
  height: 2.5rem; 
  background: #25668F;
  border-radius: 0.25rem; 
  // box-shadow: 0px 0px 3px #25668F;
  color: #FEFEFE;
  border: none;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


