.mainButton {
  height: 1.8rem; 
  background: transparent;
  border: none;
  margin-left: 2.2rem;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.mainButton__icon{
  height: 0.9rem;
  max-width: none;
}

.mainButton__text{
  margin-left: 0.5rem;
  color: #1e2631;
  font-size: 0.9rem;
  font-weight: 600;
}