.mainButton {
  width: 10rem;
  height: 2.5rem; 
  background: #328BC3;
  border-radius: 0.25rem; 
  box-shadow: 0px 0px 5px #328BC3;
  color: #FEFEFE;
  border: none;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


