.equity{
    width: 100%;
    background: #F8F8F8;;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.equity__banner{
    display: flex;
    justify-content: space-between;
    width:100%;
    margin: 1.5rem 0 1.5rem 0;
}

.equity__banner__graphic{
    width: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.equity__treemap{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;

    display: flex;
    justify-content: center;
}

.equity__loading{
    width: 5rem;
}