.pageWallet{
    width: 100vw;
    height: 98vh;
    padding-top: 3.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
}

.pageWallet__container{
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;
    margin-left: 0rem;
    display: flex;
    align-items: flex-start;
}

.pageWallet__loading{
    position: absolute;
    top: 10rem;
    padding: 3rem;
    width: 5rem;
}

