.pageWallet{
    margin:2rem 0.75rem 0.75rem 0.75rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.pageWallet__loading{
    position: absolute;
    top: 10rem;
    padding: 3rem;
}

