.container-title-editable__text{
    margin-left: 0.5rem;
    color: #328bc3;
    font-size: 1.5rem;
    font-weight: 600;
}

.container-title-editable__counter{
    font-size: 1.3rem;
    font-weight: 600;
}
