*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif,'Times New Roman', Times, serif;
    font-weight: 500;
}

.container{
    background-color: #F8F8F8;
}