.itemMenuHeader{
    display: flex;
    height: 60%;
    min-width: 10%;
    padding: 0.2rem 1rem;
    justify-content: flex-start;
    align-items: center;
    border-right: 0px solid black;
    border-left: 1px solid rgb(30, 38, 49);
}

.itemMenuHeader__text{
    color: rgb(30, 38, 49);
    font-size: 0.9rem;
    font-weight: 700;
    text-decoration: none;
}

.itemMenuHeader__select{
    border-bottom: 0.15rem solid rgb(30, 38, 49);
    line-height: 25px;
}

.itemMenuHeader__fist{
    border-left: none;
}

.itemMenuHeader__icon{
    height: 1.5rem;
    margin-right: 0.5rem;
}