.asideWallet{
    width: 222px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.asideWallet__button{
    display: flex;
    justify-content: center;
    align-items: center;
}