.itemNavigations{    
    list-style: none;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    border-radius: 4px 4px 0px 0px;
}

.itemNavigations__item{
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
    color: #353544;
    box-shadow: 0px 0px 5px #328bc360;
    background-color: #F4FBFF;
}

.itemNavigations__item__select{
    background-color: #ffffff;
}
